/*General*/
:root{
  --green: #59A030;
  --dark-green:#41692A;

  --dark-grey:#374148;
  --light-gray:#151B1F;
}

*{
  margin:0;
  padding:0;
}

/*Homepage*/

nav{
  height: 90px;
  padding:0 200px;
  background-color: var(--green);

  display:flex;
  justify-content: space-between;
  align-items: center;
}
nav p{
  display: inline-block;
  color:white;
}

nav div{
  width: 400px;
  display: flex;
  justify-content: space-around;
}

